@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    ;
}

/* share style */
p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

button {
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: rgb(229, 84, 115);
    border: none;
    border-radius: 8px;
    padding: 20px 43px 20px 43px;
    cursor: pointer;
    transition: all 1s;

}

button:hover {
    background-color: rgb(248, 6, 59);
    ;
}

header {
    background-color: rgba(229, 84, 115, 0.1);
    ;
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.section-heading {
    max-width: 500px;
    text-align: center;
    margin: 20px auto;

}

.section-heading h2 {
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 16px;
}


.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .banner-text * {
    margin-bottom: 32px;
    max-width: 531px;
}

.banner .banner-text h1 {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
}

.banner .banner-image img {
    width: 100%;
    vertical-align: middle;
}

/* featured style */
#featured {
    padding: 100px 0;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
}

.section-content .flower .flower-img {

    border-radius: 300px 300px 0px 0px;
    padding: 30px 25px 0;
    height: 500px;
    display: flex;
    align-items: end;

}

.section-content .flower .flower-img img {
    width: 100%;

}

.section-content .flower .ping {
    background-color: rgba(167, 33, 98, 0.15);
}

.section-content .flower .blue {
    background-color: rgba(5, 151, 160, 0.15);
}

.section-content .flower .gray {
    background-color: rgba(71, 125, 17, 0.15);
}

.section-content .flower p {
    color: rgb(39, 39, 39);
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    text-decoration-line: underline;
    margin-top: 16px;
}